**/.vs/
**/.idea/
**/.venv/
kotlin/Activity/.idea/
kotlin/Vulkan/.idea/
C&C++/*/\.vs/
C&C++/*/out/
**/out/
 python/rgzn/test.mp3
*.db
*.json
*.sqlite
*.exe
*.ilk
*.db
/C&C++/system/.vs
*.sqlite
/C&C++/system/.vs/system/v17
/C&C++/system/out/build
/C&C++/system/out
/python/.idea
/python/pc/xszl/.idea
/python/pc/xszl/.pytest_cache
/python/pc/xszl/__pycache__
/C&C++/network/.vs
/C&C++/network/out
/C&C++/algorithm/.vs
/C&C++/algorithm/out/build
/C&C++/C/bin
/C&C++/C/obj
/C&C++/compiler/.vs
/C&C++/compiler/out
/C&C++/database/.vs
/C&C++/database/out/build
/C&C++/game/out
/C&C++/gameEngine/.vs
/C&C++/gameEngine/build
/C&C++/gameEngine/CMakeFiles
/C&C++/gameEngine/out
/C&C++/gameEngine/out
/C&C++/git/out
/C&C++/network/.vs
/C&C++/network/out
/C&C++/qt/build
/C&C++/qt/out
/C&C++/system
/C&C++/system/out
/C&C++/theory/.vs
/C&C++/theory/out
/C++/C/obj
/C++/game/linux/CMakeFiles
/C++/gameEngine/build
/C++/gameEngine/CMakeFiles
/C++/qt/build
/kotlin/Activity/.idea
/kotlin/Vulkan/.idea
/python/.idea
/python/.idea
/kotlin/Activity/.idea
/kotlin/Vulkan/.idea
/kotlin/Activity/.kotlin/errors
/python/dataan/kaggle/
/flutter/my_app/.dart_tool
/flutter/my_app/android/.gradle
/flutter/my_app/build
/flutter/my_app/windows
/flutter/my_app/android/gradle/wrapper
